
<p class="our-plan-text text-center">Our Plans</p>
<h1 class="hosting-plans-text text-center">Here Are All Our Hosting plans</h1>
<p class="plans-third-prg text-center">Find your business growing in front of your eyes with us<br>
    Map a strategy, create a user friendly product experience, deliver reliable cross-platform <br>
    solution with on-boarding and staff training.</p>
    <div class="d-flex justify-content-center">
        <div class="form-check form-switch text-center swichbox-parent ">
            <div class="plans-third-prg">
                <p class="text-checkbox">monthly</p>
            </div>
            <div>
               <input class="form-check-input " type="checkbox" id="switchBox">
               <label class="form-check-label our-plan-text" for="switchBox">Toggle Switch</label>
           </div>
        </div>
      </div>
<!--4 green box-->
<div class="box-container ">
    <div class="up-box-one">
        <div class="green">
            <img src="../../assets/img/plane-svgrepo-com 1.svg" alt="plane"> 
            <p>VPS Servers</p>
        </div>
        <div class="circle-white text-center">
            <p class="green-p">29.99$</p>
            <p class="gray-p">/month</p>
        </div>
        <div class="white text-center">
            <div class="img-with-text">
                <img src="../../assets/img/tick.svg">
                <p class="black-p">25 Analytics Campaign</p>
            </div>
            <div class="img-with-text">
                <img src="../../assets/img/tick.svg">
                <p class="black-p">1,300 Keywords</p>
            </div>
            <div class="img-with-text">
                <img src="../../assets/img/tick.svg">
                <p class="black-p">25 Social Media Reviews</p>
            </div>
            <div class="img-with-text">
                <img src="../../assets/img/gray-tick.svg">
                <p class="gray-p">1 Free Optimization</p>
            </div>
            <div class="img-with-text">
                <img src="../../assets/img/gray-tick.svg">
                <p class="gray-p">24/7 Support</p>
            </div>
            <button >Choose Plane</button>
        </div>
       
    </div>
    <div class="down-box-left">
        <div class="green">
            <img src="../../assets/img/plane-svgrepo-com 1.svg" alt="plane"> 
            <p>VPS Servers</p>
        </div>
        <div class="circle-white text-center">
            <p class="green-p">29.99$</p>
            <p class="gray-p">/month</p>
        </div>
        <div class="white text-center">
            <div class="img-with-text">
                <img src="../../assets/img/tick.svg">
                <p class="black-p">25 Analytics Campaign</p>
            </div>
            <div class="img-with-text">
                <img src="../../assets/img/tick.svg">
                <p class="black-p">1,300 Keywords</p>
            </div>
            <div class="img-with-text">
                <img src="../../assets/img/tick.svg">
                <p class="black-p">25 Social Media Reviews</p>
            </div>
            <div class="img-with-text">
                <img src="../../assets/img/gray-tick.svg">
                <p class="gray-p">1 Free Optimization</p>
            </div>
            <div class="img-with-text">
                <img src="../../assets/img/gray-tick.svg">
                <p class="gray-p">24/7 Support</p>
            </div>
            <button >Choose Plane</button>
        </div>
    </div>
    <div class="up-box-two">
        <div class="green">
            <img src="../../assets/img/plane-svgrepo-com 1.svg" alt="plane"> 
            <p>VPS Servers</p>
        </div>
        <div class="circle-white text-center">
            <p class="green-p">29.99$</p>
            <p class="gray-p">/month</p>
        </div>
        <div class="white text-center">
            <div class="img-with-text">
                <img src="../../assets/img/tick.svg">
                <p class="black-p">25 Analytics Campaign</p>
            </div>
            <div class="img-with-text">
                <img src="../../assets/img/tick.svg">
                <p class="black-p">1,300 Keywords</p>
            </div>
            <div class="img-with-text">
                <img src="../../assets/img/tick.svg">
                <p class="black-p">25 Social Media Reviews</p>
            </div>
            <div class="img-with-text">
                <img src="../../assets/img/gray-tick.svg">
                <p class="gray-p">1 Free Optimization</p>
            </div>
            <div class="img-with-text">
                <img src="../../assets/img/gray-tick.svg">
                <p class="gray-p">24/7 Support</p>
            </div>
            <button >Choose Plane</button>
        </div>
    </div>
    <div class="down-box-right">
        <div class="green">
            <img src="../../assets/img/plane-svgrepo-com 1.svg" alt="plane"> 
            <p>VPS Servers</p>
        </div>
        <div class="circle-white text-center">
            <p class="green-p">29.99$</p>
            <p class="gray-p">/month</p>
        </div>
        <div class="white text-center">
            <div class="img-with-text">
                <img src="../../assets/img/tick.svg">
                <p class="black-p">25 Analytics Campaign</p>
            </div>
            <div class="img-with-text">
                <img src="../../assets/img/tick.svg">
                <p class="black-p">1,300 Keywords</p>
            </div>
            <div class="img-with-text">
                <img src="../../assets/img/tick.svg">
                <p class="black-p">25 Social Media Reviews</p>
            </div>
            <div class="img-with-text">
                <img src="../../assets/img/gray-tick.svg">
                <p class="gray-p">1 Free Optimization</p>
            </div>
            <div class="img-with-text">
                <img src="../../assets/img/gray-tick.svg">
                <p class="gray-p">24/7 Support</p>
            </div>
            <button >Choose Plane</button>
        </div>
    </div>

        


</div>
      
      

