






<!-- Page Header-->

    <div class="my-div  position-relative">
       
        <div class="container">
            <div class="row">
              <div class="col-md-6 ">
                <h1 class="two-part with-us-effect"> With Us You Will <br> Find  <span class="Success">Success</span></h1>
                <div class="text-border">
                <p class="two-part text ">Welcome to SB UI Kit Pro, a toolkit for building 
                    beautiful web interfaces, created by the development team at Start Bootstrap.
                    interfaces, created by the development team at Start Bootstrap.
                </p>
                </div>
                <a class="btn btn-lg btn-primary get-in-touch-btn fw-500 me-sm-3 mb-3 mb-sm-0" href="#explore">
                    Get In touch
                    <i class="ms-2" data-feather="arrow-right"></i>
                </a>
              </div>
              <div class="col-md-6   text-center" >
                <img class="img-fluid" src="../../assets/img/hom-pag-pic.png" alt="..." />
              </div>
            </div>
          </div>
    



         
        <div class="card-container ">
                    <div class="card " >
                        <h2>+85</h2>
                        <p>Project</p>
                    </div>
                    <div class="card" >
                        <h2>+50 </h2>
                        <p>Clients</p>
                    </div>
                    <div class="card" >
                        <h2>+10</h2>
                        <p>Employees</p>
                    </div>
                    <div class="card" >
                        <h2>4.8</h2>
                        <p>Rating</p>
                    </div>
        
    </div>
   
    </div>
