
<div class="service ">
<div class="text text-center">
<p class="our-serv">Our Sevices </p>
<h1 class="we-provide">We Provide You With High Quality</h1>
<p class="p-gray">Map a strategy, create a user friendly product experience, deliver reliable cross-platform<br>
    solution with on-boarding and staff training.</p>


</div>
</div>


<div class="container  ">
    <div class="row " >
      <div class="col-md-2  ">
        
            <img class="class=img-fluid  img "  src="../../assets/img/monitor.svg" alt="">
           <div class="servive-box  ">
           <div class="box-text text-center">
           
                <p class="p-green">Web/App Development</p>
                <p class="p-gray">We develop all kinds of websites that serve the 
            customer segment targeted by our client.</p>
        
        </div>
    </div>
    <img class="class=img-fluid  img "  src="../../assets/img/icon-park-outline_graphic-stitching.svg" alt="">
        <div class="servive-box ">
            <div class="box-text text-center">
            <p class="p-green">Graphic Design</p>
            <p class="p-gray">
                We have different web hosting plans, 
                just select the appropriate plan and contact us.
                
             </p>
             </div>
        </div>
      </div>
      <div class="col-md-2  ">
        <img class="class=img-fluid  img "  src="../../assets/img/mobile.svg"alt="">
        <div class="servive-box ">
            <div class="box-text text-center">
            <p class="p-green">Ui/ux Design </p>
            <p class="p-gray">
                We develop all kinds of mobile applications,
                 whether Android or iOS. 
            </p>
            </div>
         </div>
         <img class="class=img-fluid  img "  src="../../assets/img/mdi_ab-testing.svg" alt="">
         <div class="servive-box ">
            <div class="box-text text-center">
             <p class="p-green">Quality Assurance</p>
             <p class="p-gray">We have technical support services 
                that will provide you with high-level quality 24/7
              </p>
              </div>
         </div>
      </div>
      <div class="col-md-2  ">
        <img class="class=img-fluid  img "  src="../../assets/img/carbon_ibm-security-services.svg" alt="">
        <div class="servive-box">
            <div class="box-text text-center">
            <p class="p-green">Cyber security</p>
            <p class="p-gray">
                Information security consultancy includes technical aspects 
                such as networks and applications
            </p> 
             </div>
         </div>
         <img class="class=img-fluid  img "  src="../../assets/img/u_megaphone.svg" alt="">
         <div class="servive-box">
            <div class="box-text text-center">
             <p class="p-green">Digital Marketing</p>
             <p class="p-gray">We carry out widespread marketing campaigns, 
                which greatly satisfy our clients.
              </p>
              </div>
         </div>
      </div>
    </div>
  </div>
  <div class="button-container btn-primary">
    <button >Browse all our services --></button>
  </div>


  
  


    