
  <div class="row">
  <div class="col-md-3 item ">
    <img class="class=img-fluid w-25 img "  src="../../assets/img/M.svg" alt="">
    <h1>Massive</h1>
      <p>No matter how big your<br>
        business is,we’ll create<br>
          what you need.</p>
      
  </div>
  
  <div class="col-md-3 item">
    <img class="class=img-fluid w-25  fix-issu "  src="../../assets/img/I.svg" alt="">
    <h1>Ideal</h1>
    <p>No matter big your <br>
      business is,we'll create <br>
      what you need.
       </p>
       
  </div>
  
  <div class="col-md-3 item">
    <img    class="class=img-fluid w-25 img "         src="../../assets/img/S.svg" alt="">
     <h1>Success</h1>
      <p>No matter big your <br>
        business is,we'll create <br>
        what you need.
      </p>
  </div>
  
  <div class="col-md-3 item">
    <img class="class=img-fluid w-25 img shadow" src="../../assets/img/K.svg" alt="">
    <h1>Knowing</h1>
      <p>No matter big your <br>
        business is,we'll create <br>
        what you need.</p>
  </div>
</div> 

