<div class="many-container ">
<div class="row">
    <div class="col-md-4">
        <p class="many-years">Many Years of experience</p>
        <h1 class="preparing">
            Preparing For Your  Sucess Provide Best <span class="it-sol">IT Solutions</span>
        </h1>
        <p class="we-are">
            We are privileged to work with hundred future-thinking awesome businesses including many of the world’s top hardware.
        </p>
        <a class="btn btn-lg btn-primary lets-talk-btn" href="#explore">
            Let's talk 
            <i class="ms-2" data-feather="arrow-right"></i>
        </a>
    </div>
    <div class="col-md-4 ">
        <div  class="image-text-container">
              <img class="img" src="../../assets/img/many-1.svg" alt="Image"> 
            <div class="text-container">
              <p>Flexible Solutions</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehende
                rit corporis nulla repellat hic vitae! Voluptate
             </p>
            </div>
          </div>
          <div class="image-text-container">
               <img class="img" src="../../assets/img/many-2.svg" alt="Image">
            <div class="text-container">
              <p>Reach Customers Easily</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod harum nostrum 
                nesciunt quas ut, voluptas, voluptatem </p>
            </div>
          </div> 
          <div class="image-text-container">
               <img class="img" src="../../assets/img/many-3.svg" alt="Image">
            <div class="text-container">
              <p>Suitable Cost</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum nemo ve
                ro ducimus facere, fugiat dicta eaque architecto d</p>
            </div>
          </div>
                
        
    </div>




